<div>
	<div class='row'>
		<div class='col-12'>
			<h2>New Member Form</h2>
			<div class="form-group">
				<label for="name">Name:</label> <input ng-model="name" type="text"
					class="form-control" id="name" placeholder="Enter name"
					name="name">
			</div>
			<div class="form-group">
				<label for="adr">Address:</label> <input ng-model="address" type="text"
					class="form-control" id="pwd" placeholder="Enter address"
					name="adr">
			</div>
			<button ng-click='addMember()' class="btn btn-default">Add Member</button>		
		</div>
	</div>
	<div class='row'>
		<div class='col-12'>
			<h2>Old members List</h2>
		</div>
		<div class='col-12'>
			<table class="table table-reflow">
			  <thead>
			    <tr>
			      <th>#</th>
			      <th>Member Name</th>
			      <th>Member Address</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr ng-repeat="member in members">
			      <th scope="row"> {{ member.sno }}</th>
			      <td> {{ member.name }} </td>
			      <td> {{ member.address }} </td>
			    </tr>
			  </tbody>
			</table>
		
		</div>
		
	</div>
	
</div>